<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>of.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3805772172B1F3100DF85F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3805784172B1F5000DF85F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B380578C172B1F7F00DF85F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3805791172B1FBB00DF85F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B38057F7172B202300DF85F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4B69B5A0A3A1756003C02F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
